{% comp "wrapper", {
	"component": comp.oi.map.hex_cartogram,
	"config": {
		"width": 600,
		"hexjson": "hexjson.constituencies",
		"data": "sources.environment.storm_overflows",
		"columns":[{
			"name": "filterLabel",
			"template": "{{ n }} ({{ a }})"
		},{
			"name": "Total spills 2022",
			"template": "{{ Counted spills using 12-24h count method→2022 }}"
		},{
			"name": "Total spills 2023",
			"template": "{{ Counted spills using 12-24h count method→2023 }}"
		}],
		"value": "Total spills 2023",
		"scale": "#fff5eb 0%, #fdd0a4 25%, #fb8c3c 50%, #dc5006 75%, #7f2704 100%",
		"min": 0,
		"max": 6000,
		"matchKey": "PCON22CD",
		"legend":{
			"position": "top right",
			"items": [{
				"value": 6000,
				"label": "6,000+"
			},{
				"value": 4000,
				"label": "4,000"
			},{
				"value": 2000,
				"label": "2,000"
			},{
				"value": 0,
				"label": "0"
			}]
		},
		"tools":{
			"filter":{
				"label": "filterLabel"
			},
			"slider":{
				"columns":["Total spills 2022","Total spills 2023"],
				"width": "200px"
			}
		},
		"tooltip": "<strong>{{ n }}</strong><br />Total spills 2023: <strong>{{ Total spills 2023 | toLocaleString() }}</strong><br />Total spills 2022: <strong>{{ Total spills 2022 | toLocaleString() }}</strong>",
		"attribution": "Data: <a href=\"https://environment.data.gov.uk/dataset/21e15f12-0df8-4bfc-b763-45226c16a8ac\">Event Duration Monitoring - Storm Overflows - Annual Returns</a> (Environment Agency)"
	},
	"download": {"text": "EDM totals by constituency", "type": "CSV"}
} %}{% endcomp %}