---
title: Heritage at risk (England)
theme: society
created: 2024-03-28T11:42
updated: 2024-03-28T11:42
description: |
  Historic England's Heritage at Risk (HAR) programme helps to understand the overall state of England's historic sites. It identifies those sites that are most at risk of being lost as a result of neglect, decay or inappropriate development. We've taken the 2023 version of Historic England's Heritage at Risk register and summed up all entries by constituency. We have views for all entries, archaeology, building or structure, conservation area, and place of worship.
keywords: [history,historic,archaeology,building,structure,conservation,area,worship,place-of-worship]
---

<p>Historic England's Heritage at Risk (HAR) programme helps to understand the overall state of England's historic sites. It identifies those sites that are most at risk of being lost as a result of neglect, decay or inappropriate development. We've taken the <a href="https://historicengland.org.uk/images-books/publications/har-2023-registers/">2023 version</a> of Historic England's <a href="https://historicengland.org.uk/advice/heritage-at-risk/search-register/">Heritage at Risk register</a> and summed up all entries by constituency. We have views for <a href="#all">all entries</a>, <a href="#archaeology">archaeology</a>, <a href="#building-or-structure">building or structure</a>, <a href="#conservation-area">conservation area</a>, and <a href="#place-of-worship">place of worship</a>.</p>

<section>
	<h2>All entries{% comp 'anchor', { 'ref': 'all'} %}{% endcomp %}</h2>
	{% include "./embeds/_partials/all.njk" %}
	<a href="{{ url + "embeds/all" }}" class="embed">Standalone version of all entries</a>
</section>

<section>
	<h2>Archaeology{% comp 'anchor', { 'ref': 'archaeology'} %}{% endcomp %}</h2>
	{% include "./embeds/_partials/archaeology.njk" %}
	<a href="{{ url + "embeds/archaeology" }}" class="embed">Standalone version of archaeology entries</a>
</section>

<section>
	<h2>Building or structure{% comp 'anchor', { 'ref': 'building-or-structure'} %}{% endcomp %}</h2>
	{% include "./embeds/_partials/building-or-structure.njk" %}
	<a href="{{ url + "embeds/building-or-structure" }}" class="embed">Standalone version of building or structure entries</a>
</section>

<section>
	<h2>Conservation area{% comp 'anchor', { 'ref': 'conservation-area'} %}{% endcomp %}</h2>
	{% include "./embeds/_partials/conservation-area.njk" %}
	<a href="{{ url + "embeds/conservation-area" }}" class="embed">Standalone version of conservation area entries</a>
</section>

<section>
	<h2>Place of worship{% comp 'anchor', { 'ref': 'place-of-worship'} %}{% endcomp %}</h2>
	{% include "./embeds/_partials/place-of-worship.njk" %}
	<a href="{{ url + "embeds/place-of-worship" }}" class="embed">Standalone version of place of worship entries</a>
</section>




<h2>Notes</h2>
<p>There are 4871 entries in the Heritage at Risk 2023 Register and 74 entries of them are associated with multiple constituencies. To show the correct picture for each constituency we've counted an entry towards each constituency it is associated with. As a result, adding up the totals across all constituencies may give a higher number than the total number of entries on the register.</p>

