---
title: Green belt (England)
theme: environment
created: 2024-01-16T09:21
description: Fraction of each constituency that constitutes green belt.
---

<p>The government states that the <a href="https://www.gov.uk/government/publications/national-planning-policy-framework--2">"fundamental aim" of the green belt</a> "is to prevent urban sprawl by keeping land permanently open" around urban areas. England had around 16,384 km&sup2; (or 6,326 square miles) of green belt land at the end of March 2023, covering 12.6% of England's land area. The green belt is clustered around 15 urban cores; the largest are London (5,085 km&sup2;), Merseyside and Greater Manchester (2,477 km&sup2;) and South and West Yorkshire (including Sheffield, Leeds and Bradford, 2,465 km&sup2;).</p>


{% comp 'wrapper', {
	"component": comp.oi.map.hex_cartogram,
	"config": {
		"width": 600,
		"hexjson": "hexjson.uk-constituencies-2023",
		"data": "sources.environment.CBP00934---Constituency-and-local-authority-data-for-download",
		"columns": [{
			"name": "filterLabel",
			"template": "{{ n }}"
		}],
		"min": 0,
		"max": 100,
		"value": "% Green Belt",
		"scale": "#dfdfdf 0%, #0DBC37 100%",
		"matchKey": "ONS code",
		"legend": {
			"position": "top right",
			"items": [{
				"value": 100,
				"label": "100%"
			},{
				"value": 80,
				"label": "80%"
			},{
				"value": 60,
				"label": "60%"
			},{
				"value": 40,
				"label": "40%"
			},{
				"value": 20,
				"label": "20%"
			},{
				"value": 10,
				"label": "10%"
			},{
				"value": 0,
				"label": "0%"
			}]
		},
		"tools": {
			"filter": {
				"label": "filterLabel"
			}
		},
		"tooltip": "<strong>{{ Constituency }}</strong>:<br />{{ Green Belt land (hectares) | toLocaleString() }} hectares ({{ % Green Belt }}%)",
		"attribution": "<a href=\"https://commonslibrary.parliament.uk/research-briefings/sn00934/\">Green belt data</a> (House of Commons Library)/<a href=\"https://www.gov.uk/government/statistics/local-authority-green-belt-statistics-for-england-2022-to-2023/local-authority-green-belt-england-2022-23-statistical-release\">Local authority Green Belt statistics for England: 2022-23, Accompanying tables</a> (DLUHC)"
	},
	"download": {"text": "Climate change projections", "type": "CSV"}
} %}{% endcomp %}


<h2>Notes</h2>

<ul>
<li>Data as at 31 March 2023.</li>
<li>Area figures are rounded to the nearest 10 hectares</li>
<li>- indicates that fewer than 5 hectares of land are designated as Green Belt</li>
</ul>
