[requires]
python_version = "3.10"

[packages]
dvc = "*"
pandas = "*"
openpyxl = "*"
osgridconverter = "*"
jupyter = "*"
notebook = "*"
ipykernel = "*"
shapely = "*"
odfpy = "*"
appnope = "*"

[dev-packages]
