---
title: Covid grants (England)
theme: economy
description: |
  Data on the coronavirus (COVID-19) business grant schemes.
order: 30
showcase: 6
component: map.hex_cartogram
viz:
  - width: 600
    hexjson: hexjson.constituencies
    data: sources.economy.covid_grants_ohlg
    columns:
      - name: "filterLabel"
        template: "{{ Parlimentary Constituency Name }} ({{ Region }})"
    value: "Value of Grants Paid"
    scale: Viridis
    min: 0
    max: 5000000
    matchKey: "ONS (pcon) Code"
    legend:
      position: top right
      items:
      - value: 5000000
        label: £5m+
      - value: 4000000
        label: £4m
      - value: 3000000
        label: £3m
      - value: 2000000
        label: £2m
      - value: 1000000
        label: £1m
      - value: 0
        label: '0'
    tools:
      filter:
        label: filterLabel
    tooltip: "Omicron Hospitality and Leisure Grant<br />{{ Parlimentary Constituency Name }}: <strong>&pound;{{ {{ _value }} | toLocaleString() }}</strong>"
    attribution: |
      Data: <a href="https://www.gov.uk/government/publications/coronavirus-business-grant-funding-by-parliamentary-constituency-and-local-authority">Coronavirus business grant funding</a> (gov.uk)<br />Hex layout: <a href="https://github.com/odileeds/hexmaps/blob/gh-pages/maps/constituencies.hexjson">2010 constituencies</a> (Open Innovations and contributors)
  - width: 600
    hexjson: hexjson.constituencies
    data: sources.economy.covid_grants_arg
    columns:
      - name: "filterLabel"
        template: "{{ Parlimentary Constituency Name }} ({{ Region }})"
    value: "Value of Grants Paid"
    scale: Viridis
    min: 0
    max: 12000000
    matchKey: "ONS (pcon) Code"
    legend:
      position: top right
      items:
      - value: 12000000
        label: £12m+
      - value: 8000000
        label: £8m
      - value: 4000000
        label: £4m
      - value: 0
        label: '0'
    tools:
      filter:
        label: filterLabel
    tooltip: "Additional Restrictions Grant<br />{{ n }}: <strong>&pound;{{ {{ _value }} | toLocaleString() }}</strong>"
    attribution: |
      Data: <a href="https://www.gov.uk/government/publications/coronavirus-business-grant-funding-by-parliamentary-constituency-and-local-authority">Coronavirus business grant funding</a> (gov.uk)<br />Hex layout: <a href="https://github.com/odileeds/hexmaps/blob/gh-pages/maps/constituencies.hexjson">2010 constituencies</a> (Open Innovations and contributors)
---

<p>Data on the number and value of grants to small and medium sized businesses (SMEs) in response to the coronavirus pandemic in England as of 31 March 2022.</p>

<h2>Omicron Hospitality and Leisure Grant (OHLG)</h2>
<p>Data on the number and value of grants to small and medium sized businesses (SMEs) in response to the coronavirus pandemic as of 31 March 2022. The values are the total amount of money that each parliamentary constituency in England has received from central government and distributed to SMEs.</p>
{% comp 'oi.' + component, { "config": viz[0] } %}{% endcomp %}

<h2>Additional Restrictions Grant (ARG)</h2>
<p>Data on the number and value of grants to small and medium sized businesses (SMEs) in response to the coronavirus pandemic as of 31 March 2022. The values are the total amount of money that each parliamentary constituency in England has received from central government and distributed to SMEs.</p>
{% comp 'oi.' + component, { "config": viz[1] } %}{% endcomp %}

