---
title: Economy
theme: economy
description: |
  Presenting data by constituency for economic data.
---

<p>{{ description }}</p>

<ul>
{% for page in search.pages("theme=economy", "order title") %}
{% if page.data.title!=title and not page.data.draft %}
	<li><a href="{{ page.data.url }}">{{ page.data.title }}</a></li>
{% endif %}
{% endfor %}
</ul>
