---
title: Economy
theme: economy
description: |
  Presenting data by constituency for economic data.
---

<p>{{ description }}</p>

<ul>
<li><a href="covid-grants">Covid grants</a></li>
<li><a href="house-prices">House prices</a></li>
<li><a href="unemployment">Unemployment</a></li>
<li><a href="wages">Wages</a></li>
</ul>
