---
title: Wages (England, Scotland & Wales)
theme: economy
description: |
  Constituency-level data on wages.
config:
  width: 600
  hexjson: hexjson.constituencies
  data: sources.economy.wages
  columns:
    - name: "filterLabel"
      template: "{{ ConstituencyName }} ({{ RegionName }})"
  value: "2022-12-01"
  scale: Viridis
  min: 0
  max: 50000
  matchKey: "ONSConstID"
  legend:
    position: top right
    items:
    - value: 50000
      label: £50k
    - value: 40000
      label: £40k
    - value: 30000
      label: £30k
    - value: 20000
      label: £20k
    - value: 10000
      label: £10k
    - value: 0
      label: '0'
  tools:
    filter:
      label: filterLabel
  tooltip: "Median gross annual pay ({{ _value }})<br />{{ n }}: <strong>&pound;{{ {{ _value }} | toLocaleString() }}</strong>"
  attribution: |
    Data: <a href="https://www.nomisweb.co.uk/articles/295.aspx">The Annual Survey of Hours and Earnings</a> &copy; ONS Crown Copyright (from Nomis on 15 August 2023)
---


<p>This page provides constituency-level data on wages in England, Scotland, and Wales as of December 2022.</p>

{% comp 'hexmap', {
	"config": config,
	"download": {"text": "Wages by constituency", "type": "CSV"}
} %}{% endcomp %}

<h2>Notes</h2>

<ul>
<li>The values are the median full-time employee salary for residents of the constituency.</li>
<li>Self-employed people and part-time workers are not included.</li>
<li>In years where figures for a particular constituency have been suppressed by ONS as statistically unreliable, previous year's values have been used.</li>
<li>The source data are provided for pre-2023 constituencies.</li>
</ul>
