---
title: Wages (England, Scotland & Wales)
theme: economy
created: 2023-08-10T20:35
updated: 2024-04-02T22:20
description: |
  Constituency-level data on wages.
keywords: [wages,median,pay]
config:
  width: 600
  hexjson: hexjson.constituencies
  data: sources.economy.wages
  columns:
    - name: "filterLabel"
      template: "{{ ConstituencyName }} ({{ RegionName }})"
  value: "2023"
  scale: Viridis
  min: 0
  max: 50000
  matchKey: "geography_code"
  legend:
    position: top right
    items:
    - value: 50000
      label: £50k
    - value: 40000
      label: £40k
    - value: 30000
      label: £30k
    - value: 20000
      label: £20k
    - value: 10000
      label: £10k
    - value: 0
      label: '0'
  tools:
    slider:
      columns: ["2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022","2023"]
      width: 500px
    filter:
      label: filterLabel
  tooltip: "<strong>{{ n }}</strong><br />Median gross annual pay ({{ _value }}): <strong>&pound;{{ {{ _value }} | toLocaleString() }}</strong>"
  attribution: |
    Data: <a href="https://www.nomisweb.co.uk/articles/295.aspx">The Annual Survey of Hours and Earnings</a> &copy; ONS Crown Copyright (from Nomis on 2 April 2024)
---


<p>This page provides constituency-level data on wages in England, Scotland, and Wales as of December 2022.</p>

{% comp 'hexmap', {
	"config": config,
	"download": {"text": "Wages by constituency", "type": "CSV"}
} %}{% endcomp %}

<h2>Notes</h2>

<ul>
<li>The values are the median full-time employee salary for residents of the constituency.</li>
<li>Self-employed people and part-time workers are not included.</li>
<li>In years where figures for a particular constituency have been suppressed by ONS as statistically unreliable, previous year's values have been used. There are some gaps in the 2010 data as there is no previous data.</li>
<li>The source data are provided for pre-2023 constituencies.</li>
</ul>
