---
title: Electric Vehicle Charging
theme: transport
description: |
  Electric vehicle charging points by constituency (UK).
---

<h2>Notes</h2>
<p>Data comes from two sources: 
    <ul>
    <li><a href="https://www.gov.uk/government/statistics/electric-vehicle-charging-device-statistics-july-2023"> Electric Vehicle Charging Device Statistics</a></li>
    <li><a href="https://www.gov.uk/government/statistics/electric-vehicle-charging-device-grant-scheme-statistics-april-2023">Electric Vehicle Charging Grant Scheme Statistics</a></li>
    </ul>
</p>
<p>
    For our total value, we add the number of workplace, home, and public-access charging points for each lower-tier 2022 local authority district.
    Homecharging and publicly available "devices" represent charging devices at all speeds. A device can have a number of connectors of varying speeds.
    We count each of these "devices" as one unit as there is no way to know how many individual sockets they have.
    Workplace statistics are for the number of "Sockets Installed", which we also count as one unit.
</p>
<p>
    For public charging points we are not using most recent July 2023 data because they have changed the geographic boundaries.
    For homecharging we are using 2022 data. At some point this will update with a 2023 value and we will need to see if they also use updated geographies.
    Workplace charging uses April 2023 data.
</p>