---
title: Electric Vehicle Charging
theme: transport
description: |
  Electric vehicle charging points by constituency (UK).
---


<h2>Total number of charging sockets and devices{% comp 'anchor', { 'ref': 'total'} %}{% endcomp %}</h2>
{% comp 'hexmap', {
	"config": {
		"width": 600,
		"hexjson": "hexjson.constituencies",
		"data": "sources.transport.ev_charging_points",
		"columns": [{
			"name": "filterLabel",
			"template": "{{ n }} ({{ a }})"
		}],
		"value": "total",
		"scale": "Viridis",
		"min": 0,
		"max": 2400,
		"matchKey": "PCON22CD",
		"legend": {
			"position": "top right",
			"items": [{
				"value": 800,
				"label": "800"
			},{
				"value": 1600,
				"label": "1600"
			},{
				"value": 2400,
				"label": "2400"
			}]
		},
		"tools": {
			"filter": {
				"label": "filterLabel"
			}
		},
		"tooltip": "Total charging points<br />{{ n }}: <strong>{{ {{ _value }} | toLocaleString() }}</strong>",
		"attribution": ""
	},
	"download": {"text": "EV Charging", "type": "CSV"}
} %}{% endcomp %}

<h2>Workplace charging sockets and devices{% comp 'anchor', { 'ref': 'work'} %}{% endcomp %}</h2>
{% comp 'hexmap', {
	"config": {
		"width": 600,
		"hexjson": "hexjson.constituencies",
		"data": "sources.transport.ev_charging_points",
		"columns": [{
			"name": "filterLabel",
			"template": "{{ n }} ({{ a }})"
		}],
		"value": "workplace-2023-04",
		"scale": "Viridis",
		"min": 0,
		"max": 850,
		"matchKey": "PCON22CD",
		"legend": {
			"position": "top right",
			"items": [{
				"value": 50,
				"label": "50"
			},{
				"value": 450,
				"label": "450"
			},{
				"value": 850,
				"label": "850"
			}]
		},
		"tools": {
			"filter": {
				"label": "filterLabel"
			}
		},
		"tooltip": "Total charging points<br />{{ n }}: <strong>{{ {{ _value }} | toLocaleString() }}</strong>",
		"attribution": ""
	},
	"download": {"text": "EV Charging", "type": "CSV"}
} %}{% endcomp %}

<h2>Public charging sockets and devices{% comp 'anchor', { 'ref': 'public'} %}{% endcomp %}</h2>
{% comp 'hexmap', {
	"config": {
		"width": 600,
		"hexjson": "hexjson.constituencies",
		"data": "sources.transport.ev_charging_points",
		"columns": [{
			"name": "filterLabel",
			"template": "{{ n }} ({{ a }})"
		}],
		"value": "public-2023-04",
		"scale": "Viridis",
		"min": 0,
		"max": 2250,
		"matchKey": "PCON22CD",
		"legend": {
			"position": "top right",
			"items": [{
				"value": 750,
				"label": "750"
			},{
				"value": 1500,
				"label": "1500"
			},{
				"value": 2250,
				"label": "2250"
			}]
		},
		"tools": {
			"filter": {
				"label": "filterLabel"
			}
		},
		"tooltip": "Total charging points<br />{{ n }}: <strong>{{ {{ _value }} | toLocaleString() }}</strong>",
		"attribution": ""
	},
	"download": {"text": "EV Charging", "type": "CSV"}
} %}{% endcomp %}



<h2>Home charging sockets and devices{% comp 'anchor', { 'ref': 'home'} %}{% endcomp %}</h2>
{% comp 'hexmap', {
	"config": {
		"width": 600,
		"hexjson": "hexjson.constituencies",
		"data": "sources.transport.ev_charging_points",
		"columns": [{
			"name": "filterLabel",
			"template": "{{ n }} ({{ a }})"
		}],
		"value": "home-2022",
		"scale": "Viridis",
		"min": 0,
		"max": 1200,
		"matchKey": "PCON22CD",
		"legend": {
			"position": "top right",
			"items": [{
				"value": 400,
				"label": "400"
			},{
				"value": 800,
				"label": "800"
			},{
				"value": 1200,
				"label": "1200"
			}]
		},
		"tools": {
			"filter": {
				"label": "filterLabel"
			}
		},
		"tooltip": "Total charging points<br />{{ n }}: <strong>{{ {{ _value }} | toLocaleString() }}</strong>",
		"attribution": ""
	},
	"download": {"text": "EV Charging", "type": "CSV"}
} %}{% endcomp %}


<h2>National Chargepoint Registry{% comp 'anchor', { 'ref': 'ncr'} %}{% endcomp %}</h2>
<p>Aggregating <a href="https://www.gov.uk/guidance/find-and-use-data-on-public-electric-vehicle-chargepoints">data on <em>publicly accessible chargepoints</em></a> from <a href="https://chargepoints.dft.gov.uk/login">The National Chargepoint Registry</a>. Use the slider to see numbers of connections per 100,000 population for slow (3-6 KW), fast (7-22 KW), rapid (25-100 KW), and ultra (>100 KW) charging.</p>
{% comp 'hexmap', {
	"config": {
		"width": 600,
		"hexjson": "hexjson.constituencies",
		"data": "sources.transport.national_charge_point_registry_by_constituency",
		"columns": [{
			"name": "filterLabel",
			"template": "{{ n }} ({{ a }})"
		},{
			"name": "slow per capita",
			"template": "{{ n }} ({{ a }})"
		}],
		"value": "all (per 100k)",
		"scale": "Viridis",
		"min": 0,
		"max": 300,
		"matchKey": "PCON22CD",
		"legend": {
			"position": "top right",
			"items": [{
				"value": 300,
				"label": "300+ / 100k"
			},{
				"value": 200,
				"label": "200 / 100k"
			},{
				"value": 100,
				"label": "100 / 100k"
			},{
				"value": 0,
				"label": "0 / 100k"
			}]
		},
		"tools": {
			"filter": {
				"label": "filterLabel"
			},
			"slider": {
				"columns": ["all (per 100k)","slow (3-6 KW per 100k)","fast (7-22 KW per 100k)","rapid (25-100 KW per 100k)","ultra (>100 KW per 100k)"],
				"width": "600px"
			}
		},
		"tooltip": "{{ n }}<br />Population (2020): <strong>{{ population (2020) | toLocaleString() }}</strong><br />All: <strong>{{ all (per 100k) | toLocaleString() }}</strong> / 100k<br />Slow (3-6 KW): <strong>{{ slow (3-6 KW per 100k) | toLocaleString()}}</strong> / 100k<br />Fast (7-22 KW): <strong>{{ fast (7-22 KW per 100k) | toLocaleString()}}</strong> / 100k<br />Rapid (25-100 KW): <strong>{{ rapid (25-100 KW per 100k) | toLocaleString()}}</strong> / 100k<br />Ultra (&gt;100 KW): <strong>{{ ultra (>100 KW per 100k) | toLocaleString()}}</strong> / 100k",
		"attribution": "Connections aggregated from the <a href=\"https://www.gov.uk/guidance/find-and-use-data-on-public-electric-vehicle-chargepoints\">National Chargepoint Registry</a> (as of September 2023)<br /><a href=\"https://commonslibrary.parliament.uk/constituency-statistics-population-by-age/\">Population data</a> (House of Commons Library)"
	},
	"download": {"text": "National Chargepoint Registry data by constituency", "type": "CSV"}
} %}{% endcomp %}

<h2>Notes</h2>
<p>Data comes from three sources: 
    <ul>
    <li><a href="https://www.gov.uk/government/statistics/electric-vehicle-charging-device-statistics-july-2023"> Electric Vehicle Charging Device Statistics</a></li>
    <li><a href="https://www.gov.uk/government/statistics/electric-vehicle-charging-device-grant-scheme-statistics-april-2023">Electric Vehicle Charging Grant Scheme Statistics</a></li>
	<li><a href="https://chargepoints.dft.gov.uk/api/retrieve/registry/format/csv">National Chargepoint Registry</a></li>
    </ul>
</p>
<p>
    For our total value, we add the number of workplace, home, and public-access charging points for each lower-tier 2022 local authority district.
    Homecharging and publicly available "devices" represent charging devices at all speeds. A device can have a number of connectors of varying speeds.
    We count each of these "devices" as one unit as there is no way to know how many individual sockets they have.
    Workplace statistics are for the number of "Sockets Installed", which we also count as one unit.
</p>
<p>
    For public charging points we are not using most recent July 2023 data because they have changed the geographic boundaries.
    For homecharging we are using 2022 data. At some point this will update with a 2023 value and we will need to see if they also use updated geographies.
    Workplace charging uses April 2023 data.
</p>
<p>The Electric Vehicle Charging Device Statistics (ONS/ZapMap) references 44,020 devices (July 2023). <a href="https://www.zap-map.com/ev-stats/how-many-charging-points">According to ZapMap</a> "there were 48,450 electric vehicle charging points across the UK, across 29,062 charging locations" as of the end of August 2023. As of early September 2023, the National Chargepoint Registry contains 49,343 <code>In service</code> connections from 31,589 devices. So the NCR's <em>connections</em> appear to be comparable to ZapMap's <em>devices</em>. The NCR data include latitudes/longitudes for each device and that makes it possible to aggregate by constituency easily.</p>
<p>In <a href="https://open-innovations.org/blog/2022-04-27-planning-electric-vehicle-bulk-charging-locations-with-open-data">our previous analysis (April 2022)</a> we identified at least 50 chargepoints that had been given incorrect coordinates by their operators; some had their latitudes/longitudes swapped around, some had the wrong sign on the longitude, and some had duplicated the latitude in the longitude value. In the current dataset it hasn't been possible to associate 134 locations (149 connections) with constituencies.</p>
