---
title: Road accidents (GB)
theme: transport
description: |
  Constituency-level data on road accidents in England, Scotland and Wales.
config:
  all:
    width: 600
    hexjson: hexjson.constituencies
    data: sources.transport.road_traffic_accidents_all
    columns:
      - name: "filterLabel"
        template: "{{ n }}"
    value: "2021"
    scale: Viridis
    min: 0
    max: 1000
    matchKey: "PCON10CD"
    legend:
      position: top right
      items:
      - value: 1000
        label: "1000+"
      - value: 800
        label: "800"
      - value: 600
        label: "600"
      - value: 400
        label: "400"
      - value: 200
        label: "200"
      - value: 0
        label: '0'
    tools:
      filter:
        label: filterLabel
      slider:
        columns: ['2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021']
        width: 500px
    tooltip: "All road accidents ({{ _value }})<br />{{ n }}: <strong>{{ {{ _value }} | toLocaleString() }}</strong>"
    attribution: |
      Data: <a href="https://roadtraffic.dft.gov.uk/custom-downloads/road-accidents/reports/fea81bec-6ebb-43aa-9fca-5578791c9ccc">Stats19 Road accidents and safety statistics</a> (DfT)
  fatal:
    width: 600
    hexjson: hexjson.constituencies
    data: sources.transport.road_traffic_accidents_fatal_or_serious
    columns:
      - name: "filterLabel"
        template: "{{ n }}"
    value: "2021"
    scale: Viridis
    min: 0
    max: 150
    matchKey: "PCON10CD"
    legend:
      position: top right
      items:
      - value: 150
        label: "150+"
      - value: 100
        label: "100"
      - value: 50
        label: "50"
      - value: 0
        label: '0'
    tools:
      filter:
        label: filterLabel
      slider:
        columns: ['2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021']
        width: 500px
    tooltip: "All road accidents ({{ _value }})<br />{{ n }}: <strong>{{ {{ _value }} | toLocaleString() }}</strong>"
    attribution: |
      Data: <a href="https://roadtraffic.dft.gov.uk/custom-downloads/road-accidents/reports/fea81bec-6ebb-43aa-9fca-5578791c9ccc">Stats19 Road accidents and safety statistics</a> (DfT)
---

<p>Road accidents reported to the police for England, Scotland and Wales.</p>

<h2>All accidents</h2>
{% comp 'hexmap', {
	"config": config.all,
	"download": {"text": "Stats19 all accidents by constituency", "type": "CSV"}
} %}{% endcomp %}


<h2>Fatal or serious accidents</h2>
{% comp 'hexmap', {
	"config": config.fatal,
	"download": {"text": "Stats19 fatal or serious by constituency", "type": "CSV"}
} %}{% endcomp %}

<h2>Notes</h2>

<p>The data come from the <a href="https://roadtraffic.dft.gov.uk/custom-downloads/road-accidents">Department for Transport's Road Accidents tool</a>. Since 2016, changes in severity reporting systems for a large number of police forces mean that serious injury figures, and to a lesser extent slight injury, are not comparable with earlier years. More details on severity adjustments and changes in reporting systems can be found in the severity adjustments <a href="https://www.gov.uk/guidance/road-accident-and-safety-statistics-quality-and-methodology">background notes</a>.</p>
<p>This includes data on road accidents reported to the police where at least one person is injured. There can be several people injured (casualties) in one accident.</p>
