/house-prices.xlsx
/unemployment.xlsx
/covid-grants-april-2022.xlsx
/spills-by-constituency.json
/EDM*
/electric-vehicle-charging-statistics-july-2023.ods
/electric-vehicle-charging-device-grant-scheme-statistics.ods
/NM_30_1.data.csv
/median-wages.csv
