/house-prices.xlsx
/unemployment.xlsx
/covid-grants-april-2022.xlsx
/spills-by-constituency.json
/EDM 2022 Storm Overflow Annual Return - all water and sewerage companies.xlsx
/electric-vehicle-charging-statistics-july-2023.ods
/electric-vehicle-charging-device-grant-scheme-statistics.ods
