---
title: General Elections (UK)
theme: society
created: 2023-08-24T15:05
updated: 2024-06-03T07:13
description: |
  The political make-up of Parliamentary constituencies showing results of General Elections (UK).
---
<style>
  .oi-legend { margin-bottom: 1rem; }
</style>

<p>The party-political make up of the UK Parliament.</p>

{% comp 'layout.panelSelector.set', { label: 'Choose the visualisation layer', titleSelector: "h3", position: "top" } %}

	{% comp 'layout.panelSelector.panel', { id: "ge-2024", title: "2024", classes: "doublepadded" } %}

		<h3>General Election - 4 July 2024</h3>
		<p>This map shows the candidates for the upcoming General Election using <a href="https://candidates.democracyclub.org.uk/elections/parl.2024-07-04/">data from Democracy Club</a>. Note that the 2023 boundary reviews mean that many constituencies have changed compared to previous General Elections so this uses our new hex layout. Select a constituency to see a list of candidates. If you don't know the name of your new constituency you can look it up with <a href="https://whocanivotefor.co.uk/">Who Can I Vote For?</a></p>
		{% comp 'wrapper', {
			"component": comp.oi.map.hex_cartogram,
			"config": {
				"width": 600,
				"hexjson": "hexjson.uk-constituencies-2023",
				"data": "sources.society.general-elections-2024",
				"columns": [{
					name: "filterLabel",
					template: "{{ n }}"
				}],
				"value": "Number of Candidates",
				"scale": "#dfdfdf 0%, #000000 100%",
				"matchKey": "PCON24CD",
				"min": 0,
				"max": 8,
				"legend": {
					position: "top right",
					items: [{
						"value": 8,
						"label": "8+"
					},{
						"value": 7,
						"label": "7"
					},{
						"value": 6,
						"label": "6"
					},{
						"value": 5,
						"label": "5"
					},{
						"value": 4,
						"label": "4"
					},{
						"value": 3,
						"label": "3"
					},{
						"value": 2,
						"label": "2"
					},{
						"value": 1,
						"label": "1"
					},{
						"value": 0,
						"label": "0"
					}]
				},
				"tools": {
					filter: {
						label: "filterLabel"
					}
				},
				tooltip: "<strong>{{ n }}</strong><br />{{ Candidates }}",
				attribution: 'Data: <a href="https://candidates.democracyclub.org.uk/data/">Candidates 2024</a> (Democracy Club).'
			},
			"download": {"text": "General Election 2024 candidates by constituency", "type": "CSV"}
		} %}{% endcomp %}

	{% endcomp %}

	{% comp 'layout.panelSelector.panel', { id: "current", title: "Now", classes: "doublepadded" } %}

		<h3>As of 8th May 2024</h3>
		{% comp 'wrapper', {
			"component": comp.oi.map.hex_cartogram,
			"config": {
				"colours": {"Con":'#0485A8',"Lab":'#DC4343','LD':'#EAA544','Green':'#5EBD4C','Brexit':'#0FA697','SNP':'#EBDB1C','UKIP':'#73537A','PC':'#4FBA7C','Ind':'#CCA7C6','DUP':'#BF3759','UUP':'#3b75a8','SF':'#2C604D','SDLP':'#53BC5B','Alliance':'#EAA544','Spk':'#909090','XSpk':'#909090','Monster':'#cccccc','WPB':'#539acb','Alba':'#0015ff','Ref':'#09d2e0','none':'#dfdfdf'},
				"width": 600,
				"hexjson": "hexjson.constituencies",
				"data": "sources.society.general-elections",
				"columns": [{
					name: "filterLabel",
					template: "{{ n }}, {{ a }} ({{ Current MP }})"
				}],
				"value": "Current",
				"matchKey": "const_id",
				"legend": {
					position: "bottom",
					items: buildLegend(sources.society['general-elections'],'Current',{"LD":"LDem","Alliance":"Alln","Green":"Grn","Ref":"Reform","Spk":"Speaker"})
				},
				"tools": {
					filter: {
						label: "filterLabel"
					}
				},
				tooltip: "<strong>{{ n }}</strong><br />Current: {{ Current }} / {{ Current MP }}<br />2019: {{ GE 2019 }} /  {{ GE 2019 MP }}<br />2017: {{ GE 2017 }} / {{ GE 2017 MP }}<br />2015: {{ GE 2015 }} / {{ GE 2015 MP }}<br />2010: {{ GE 2010 }} / {{ GE 2010 MP }}",
				attribution: 'Data: <a href="https://www.parliament.uk/about/how/elections-and-voting/by-elections/by-elections-2019/">By-elections since 2019</a> (UK Parliament), <a href="https://en.wikipedia.org/wiki/List_of_elected_British_politicians_who_have_changed_party_affiliation">Changes to party affiliation</a> (Wikipedia), General Election results <a href="https://ge2019.odileeds.org/">2019</a> (Britain Elects, New Statesman, Open Innovations; <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a>), <a href="https://commonslibrary.parliament.uk/research-briefings/cbp-7979/" target="_parent">2017</a> (Parliament), <a href="https://commonslibrary.parliament.uk/research-briefings/cbp-7186/" target="_parent">2015</a> (Parliament) & <a href="https://docs.google.com/spreadsheets/d/1aU6xNJNdO4axSNidWPNSsJb4aNDq_TI6DIdSkcLHcmk/edit#gid=1">2010</a> (The Guardian).'
			},
			"download": {"text": "Pre General Election 2024 by constituency", "type": "CSV"}
		} %}{% endcomp %}

	{% endcomp %}

	{% comp 'layout.panelSelector.panel', { id: "ge-2019-notional", title: "2019*", classes: "doublepadded" } %}

		<h3>Notional General Election - 12 December 2019</h3>
		<p>This map shows estimates of what the 2019 General Election result would have been if the upcoming constituency boundaries had been used.</p>
		{% comp 'wrapper', {
			"component": comp.oi.map.hex_cartogram,
			"config": {
				"colours": {"Con":'#0485A8',"Lab":'#DC4343','LD':'#EAA544','Green':'#5EBD4C','Brexit':'#0FA697','SNP':'#EBDB1C','UKIP':'#73537A','PC':'#4FBA7C','Ind':'#CCA7C6','DUP':'#BF3759','UUP':'#3b75a8','SF':'#2C604D','SDLP':'#53BC5B','Alliance':'#EAA544','APNI':'#EAA544','Spk':'#909090','XSpk':'#909090','Monster':'#cccccc','WPB':'#1e28d8','none':'#dfdfdf'},
				"width": 600,
				"hexjson": "hexjson.uk-constituencies-2023",
				"data": "sources.society.general-elections-notional",
				"columns": [{
					name: "filterLabel",
					template: "{{ n }}"
				}],
				"value": "GE 2019 Party",
				"matchKey": "PCON24CD",
				"min": 0,
				"max": 8,
				"legend": {
					position: "bottom",
					items: buildLegend(sources.society['general-elections-notional'],'GE 2019 Party',{"LD":"LDem","Alliance":"Alln","Green":"Grn","Ref":"Reform","Spk":"Speaker"})
				},
				"tools": {
					filter: {
						label: "filterLabel"
					}
				},
				tooltip: "<strong>{{ n }}</strong><br />Party: {{ GE 2019 Party }}<br />Majority: <strong>{{ GE 2019 Majority | toLocaleString() }}</strong>",
				attribution: 'Data: <a href="https://electionresults.parliament.uk/general-elections/5">Notional General Election 2019</a> (Rallings & Thrasher, Professor David Denver (Scotland), Nicholas Whyte (NI) for Sky News, PA, BBC News and ITV News).'
			},
			"download": {"text": "Notional General Election 2019", "type": "CSV"}
		} %}{% endcomp %}

	{% endcomp %}

	{% comp 'layout.panelSelector.panel', { id: "ge-2019", title: "2019", classes: "doublepadded" } %}

		<h3>General Election - 12 December 2019</h3>
		{% comp 'wrapper', {
			"component": comp.oi.map.hex_cartogram,
			"config": {
				"colours": {"Con":'#0485A8',"Lab":'#DC4343','LD':'#EAA544','Green':'#5EBD4C','Brexit':'#0FA697','SNP':'#EBDB1C','UKIP':'#73537A','PC':'#4FBA7C','Ind':'#CCA7C6','DUP':'#BF3759','UUP':'#3b75a8','SF':'#2C604D','SDLP':'#53BC5B','Alliance':'#EAA544','Spk':'#909090','XSpk':'#909090','Monster':'#cccccc','WPB':'#1e28d8','none':'#dfdfdf'},
				"width": 600,
				"hexjson": "hexjson.constituencies",
				"data": "sources.society.general-elections",
				"columns": [{
					name: "filterLabel",
					template: "{{ n }}, {{ a }} ({{ GE 2019 MP }})"
				}],
				"value": "GE 2019",
				"matchKey": "const_id",
				"legend": {
					position: "bottom",
					items: buildLegend(sources.society['general-elections'],'GE 2019',{"LD":"LDem","Alliance":"Alln","Green":"Grn","Ref":"Reform","Spk":"Speaker"})
				},
				"tools": {
					filter: {
						label: "filterLabel"
					}
				},
				tooltip: "<strong>{{ n }}</strong><br />{{ GE 2019 MP }} ({{ GE 2019 }})<br />Turnout: <strong>{{ GE 2019 turnout }}%</strong>",
				attribution: 'Data: General Election results <a href="https://ge2019.odileeds.org/">2019</a> (Britain Elects, New Statesman, Open Innovations; <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a>).'
			},
			"download": {"text": "General Election 2019 results by constituency", "type": "CSV"}
		} %}{% endcomp %}

	{% endcomp %}

	{% comp 'layout.panelSelector.panel', { id: "ge-2017", title: "2017", classes: "doublepadded" } %}

		<h3>General Election - 8 June 2017</h3>
		{% comp 'wrapper', {
			"component": comp.oi.map.hex_cartogram,
			"config": {
				"colours": {"Con":'#0485A8',"Lab":'#DC4343','LD':'#EAA544','Green':'#5EBD4C','Brexit':'#0FA697','SNP':'#EBDB1C','UKIP':'#73537A','PC':'#4FBA7C','Ind':'#CCA7C6','DUP':'#BF3759','UUP':'#3b75a8','SF':'#2C604D','SDLP':'#53BC5B','Alliance':'#EAA544','Spk':'#909090','XSpk':'#909090','Monster':'#cccccc','WPB':'#1e28d8','none':'#dfdfdf'},
				"width": 600,
				"hexjson": "hexjson.constituencies",
				"data": "sources.society.general-elections",
				"columns": [{
					name: "filterLabel",
					template: "{{ n }}, {{ a }} ({{ GE 2017 MP }})"
				}],
				"value": "GE 2017",
				"matchKey": "const_id",
				"legend": {
					position: "bottom",
					items: buildLegend(sources.society['general-elections'],'GE 2017',{"LD":"LDem","Alliance":"Alln","Green":"Grn","Ref":"Reform","Spk":"Speaker"})
				},
				"tools": {
					filter: {
						label: "filterLabel"
					}
				},
				tooltip: "<strong>{{ n }}</strong><br />{{ GE 2017 MP }} ({{ GE 2017 }})<br />Turnout: <strong>{{ GE 2017 turnout }}%</strong>",
				attribution: 'Data: <a href="https://commonslibrary.parliament.uk/research-briefings/cbp-7979/" target="_parent">2017</a> (Parliament).'
			},
			"download": {"text": "General Election 2017 results by constituency", "type": "CSV"}
		} %}{% endcomp %}

	{% endcomp %}

	{% comp 'layout.panelSelector.panel', { id: "ge-2015", title: "2015", classes: "doublepadded" } %}

		<h3>General Election - 7 May 2015</h3>
		{% comp 'wrapper', {
			"component": comp.oi.map.hex_cartogram,
			"config": {
				"colours": {"Con":'#0485A8',"Lab":'#DC4343','LD':'#EAA544','Green':'#5EBD4C','Brexit':'#0FA697','SNP':'#EBDB1C','UKIP':'#73537A','PC':'#4FBA7C','Ind':'#CCA7C6','DUP':'#BF3759','UUP':'#3b75a8','SF':'#2C604D','SDLP':'#53BC5B','Alliance':'#EAA544','Spk':'#909090','XSpk':'#909090','Monster':'#cccccc','WPB':'#1e28d8','none':'#dfdfdf'},
				"width": 600,
				"hexjson": "hexjson.constituencies",
				"data": "sources.society.general-elections",
				"columns": [{
					name: "filterLabel",
					template: "{{ n }}, {{ a }} ({{ GE 2015 MP }})"
				}],
				"value": "GE 2015",
				"matchKey": "const_id",
				"legend": {
					position: "bottom",
					items: buildLegend(sources.society['general-elections'],'GE 2015',{"LD":"LDem","Alliance":"Alln","Green":"Grn","Ref":"Reform","Spk":"Speaker"})
				},
				"tools": {
					filter: {
						label: "filterLabel"
					}
				},
				tooltip: "<strong>{{ n }}</strong><br />{{ GE 2015 MP }} ({{ GE 2015 }})<br />Turnout: <strong>{{ GE 2015 turnout }}%</strong>",
				attribution: 'Data: <a href="https://commonslibrary.parliament.uk/research-briefings/cbp-7186/" target="_parent">2015</a> (Parliament).'
			},
			"download": {"text": "General Election 2015 results by constituency", "type": "CSV"}
		} %}{% endcomp %}

	{% endcomp %}

	{% comp 'layout.panelSelector.panel', { id: "ge-2010", title: "2010", classes: "doublepadded" } %}

		<h3>General Election - 6 May 2010</h3>
		{% comp 'wrapper', {
			"component": comp.oi.map.hex_cartogram,
			"config": {
				"colours": {"Con":'#0485A8',"Lab":'#DC4343','LD':'#EAA544','Green':'#5EBD4C','Brexit':'#0FA697','SNP':'#EBDB1C','UKIP':'#73537A','PC':'#4FBA7C','Ind':'#CCA7C6','DUP':'#BF3759','UUP':'#3b75a8','SF':'#2C604D','SDLP':'#53BC5B','Alliance':'#F6CB2F','Spk':'#909090','XSpk':'#909090','Monster':'#cccccc','WPB':'#1e28d8','none':'#dfdfdf'},
				"width": 600,
				"hexjson": "hexjson.constituencies",
				"data": "sources.society.general-elections",
				"columns": [{
					name: "filterLabel",
					template: "{{ n }}, {{ a }} ({{ GE 2010 MP }})"
				}],
				"value": "GE 2010",
				"matchKey": "const_id",
				"legend": {
					position: "bottom",
					items: buildLegend(sources.society['general-elections'],'GE 2010',{"LD":"LDem","Alliance":"Alln","Green":"Grn","Ref":"Reform","Spk":"Speaker"})
				},
				"tools": {
					filter: {
						label: "filterLabel"
					}
				},
				tooltip: "<strong>{{ n }}</strong><br />{{ GE 2010 MP }} ({{ GE 2010 }})<br />Turnout: <strong>{{ GE 2010 turnout }}%</strong>",
				attribution: 'Data: <a href="https://docs.google.com/spreadsheets/d/1aU6xNJNdO4axSNidWPNSsJb4aNDq_TI6DIdSkcLHcmk/edit#gid=1">2010</a> (The Guardian).'
			},
			"download": {"text": "General Election 2010 results by constituency", "type": "CSV"}
		} %}{% endcomp %}

	{% endcomp %}

{% endcomp %}

{#
lume

	# All legend items
	items: [{colour: "Con",label: "Con"},{colour: "Lab",label: "Lab"},{colour: "LD",label: "LDem"},{colour: "SNP",label: "SNP"},{colour: "PC",label: "PC"},{colour: "Green",label: "Grn"},{colour: "UKIP",label: "UKIP"},{colour: "DUP",label: "DUP"},{colour: "UUP",label: "UUP"},{colour: "SF",label: "SF"},{colour: "SDLP",label: "SDLP"},{colour: "Alliance",label: "Alln"},{colour: "WPB",label: "WPB"},{colour: "Ind",label: "Ind"},{colour: "Spk",label: "Spk"}]

#}
