---
title: Below universal service obligation
---

<h2>Below universal service obligation (January 2024){% comp 'anchor', { 'ref': 'below-universal-service-obligation'} %}{% endcomp %}</h2>
<p>The percentage of premises unable to receive 10 Mbps download speed or 1 Mbps upload speed, which Ofcom regards as necessary components of ‘decent broadband’. This measure counts only premises that cannot receive the above speeds from fixed broadband, fixed wireless technologies, and mobile broadband.</p>
{% comp 'hexmap', {
	"config": {
		"width": 600,
		"hexjson": "hexjson.uk-constituencies-2024",
		"data": "sources.economy.BroadbandDashboardDataFile",
		"columns":[{
			"name": "filterLabel",
			"template": "{{ Name }}"
		}],
		"value": "Below universal service obligation (%)",
		"scale": "Viridis",
		"min": 0,
		"max": 4,
		"matchKey": "Code",
		"legend": {
			"position": "top right",
			"items":[{
				"value": 4,
				"label": "4%+"
			},{
				"value": 3,
				"label": "3%"
			},{
				"value": 2,
				"label": "2%"
			},{
				"value": 1,
				"label": "1%"
			},{
				"value": 0,
				"label": "0%"
			}]
		},
		"tools": {
			"filter": {
				"label": "filterLabel"
			}
		},
		"tooltip": "<strong>{{ n }}</strong><br />Below universal service obligation: <strong>{{ {{ _value }} | toLocaleString() }}%</strong>",
		"attribution": "Data: <a href=\"https://commonslibrary.parliament.uk/constituency-data-broadband-coverage-and-speeds/\">Broadband coverage and speeds (House of Commons Library)</a>"
	},
	"download": {"text": "Broadband speeds and availability", "type": "CSV"}
} %}{% endcomp %}
