---
title: Gigabit availability
---

<h2>Gigabit availability (January 2024){{ comp.anchor({anchor:'gigabit'}) }}</h2>
<p>The percentage of premises that were capable of receiving speeds of 1 gigabit per second (1 Gbps).</p>
{{ comp.wrapper({
	"page": page,
	"component": comp.oi.map.hex_cartogram,
	"config": "gigabit",
	"download": {"text": "Broadband speeds and availability", "type": "CSV"}
}) }}
