---
title: Receiving under 30 Mbps
---

<h2>Receiving over 30 Mbps (January 2024){% comp 'anchor', { 'ref': 'over-30Mbps'} %}{% endcomp %}</h2>
<p>The percentage of lines actually receiving superfast download speeds (over 30 Mbps). Note that this does not show what lines are capable of receiving. Some lines not receiving 30 Mbps have the option of faster speeds available to them. A lower-than-average figure on this measure may indicate that consumers have chosen not to (or are unable to) adopt superfast packages, rather than worse connectivity in the area.</p>
{% comp 'hexmap', {
	"config": {
		"width": 600,
		"hexjson": "hexjson.constituencies",
		"data": "sources.economy.BroadbandDashboardDataFile",
		"columns":[{
			"name": "filterLabel",
			"template": "{{ Name }}"
		}],
		"value": "Receiving over 30 Mbps (%)",
		"scale": "Viridis",
		"min": 50,
		"max": 100,
		"matchKey": "Code",
		"legend": {
			"position": "top right",
			"items":[{
				"value": 100,
				"label": "100%"
			},{
				"value": 90,
				"label": "90%"
			},{
				"value": 80,
				"label": "80%"
			},{
				"value": 70,
				"label": "70%"
			},{
				"value": 60,
				"label": "60%"
			},{
				"value": 50,
				"label": "<50%"
			}]
		},
		"tools": {
			"filter": {
				"label": "filterLabel"
			}
		},
		"tooltip": "<strong>{{ n }}</strong><br />{{ _value }}: <strong>{{ {{ _value }} | toLocaleString() }}%</strong>",
		"attribution": "Data: <a href=\"https://commonslibrary.parliament.uk/constituency-data-broadband-coverage-and-speeds/\">Broadband coverage and speeds (House of Commons Library)</a>"
	},
	"download": {"text": "Broadband speeds and availability", "type": "CSV"}
} %}{% endcomp %}
