---
title: Efficiency of Housing (England & Wales)
theme: energy
created: 2024-05-09T15:40
updated: 2024-05-09T15:40
description: |
  Median energy efficiency score of all dwellings.
keywords: [energy,EPC,efficiency,housing,houses]
---

<p><a href="https://www.gov.uk/buy-sell-your-home/energy-performance-certificates#:~:text=An%20EPC%20gives%20a%20property,is%20valid%20for%2010%20years.">Energy Performance Certificates (EPC)</a> are a measure of the energy efficiency of individual properties. They calculate a score on a scale where 1 is least efficient and 100 means the property has zero energy needs. These scores are used to place a property in one of seven EPC bands from G (least efficient) to A (most efficient). Below we show the ONS (March 2023) medians for each constituency.</p>

{% comp 'hexmap', {
	"config": {
		"width": 600,
		"hexjson": "hexjson.constituencies",
		"data": "sources.energy.energyefficiencyofhousingbyparliconsenglandandwalesuptomarch2023",
		"columns":[{
			"name": "filterLabel",
			"template": "{{ n }}"
		}],
		"value": "All dwellings",
		"scale": "#000000 0%, #e9153b 1%, #e9153b 20%, #ef8023 21%, #ef8023 38%, #fcaa65 39%, #fcaa65 54%, #ffd500 55%, #ffd500 68%, #8dce46 69%, #8dce46 80%, #19b459 81%, #19b459 91%, #00c781 92%, #00c781 100%",
		"min": 0,
		"max": 100,
		"matchKey": "Code",
		"legend":{
			"position": "top right",
			"items": [{
				"value": 92,
				"label": "A (92+)"
			},{
				"value": 81,
				"label": "B (81-91)"
			},{
				"value": 69,
				"label": "C (69-80)"
			},{
				"value": 55,
				"label": "D (55-68)"
			},{
				"value": 39,
				"label": "E (39-54)"
			},{
				"value": 21,
				"label": "F (21-38)"
			},{
				"value": 1,
				"label": "G (1-20)"
			}]
		},
		"tools":{
			"filter":{
				"label": "filterLabel"
			},
			"slider":{
				"columns": ["All dwellings","Detached","Semi-detached","Terraced","Flats and maisonettes","Owner-occupied","Private rent","Social rent","Pre 1930","1930 to 1982","1983 to 2011","2012 onwards"]
			}
		},
		"tooltip": "<strong>{{ n }}</strong><br />Median values<br />All dwellings: <strong>{{ All dwellings | toLocaleString() }}</strong><br />Detached housing: <strong>{{ Detached | toLocaleString() }}</strong><br />Semi-detached housing: <strong>{{ Semi-detached | toLocaleString() }}</strong><br />Terraced housing: <strong>{{ Terraced | toLocaleString() }}</strong><br />Flats and maisonettes: <strong>{{ Flats and maisonettes | toLocaleString() }}</strong><br />Owner-occupied: <strong>{{ Owner-occupied | toLocaleString() }}</strong><br />Private rent: <strong>{{ Private rent | toLocaleString() }}</strong><br />Social rent: <strong>{{ Social rent | toLocaleString() }}</strong><br />Pre 1930: <strong>{{ Pre 1930 | toLocaleString() }}</strong><br />1930 to 1982: <strong>{{ 1930 to 1982 | toLocaleString() }}</strong><br />1983 to 2011: <strong>{{ 1983 to 2011 | toLocaleString() }}</strong><br />2012 onwards: <strong>{{ 2012 onwards | toLocaleString() }}</strong>",
		"attribution": "Data: <a href=\"https://www.ons.gov.uk/peoplepopulationandcommunity/housing/adhocs/1635efficiencyofhousingbywestminsterparliamentaryconstituenciesenglandandwalesallrecordsuptofinancialyearendingmarch2023\">Efficiency of Housing by Westminster parliamentary constituencies, England and Wales, all records up to financial year ending March 2023</a> (ONS)"
	},
	"download": {"text": "Efficiency of Housing by constituency", "type": "CSV"}
} %}{% endcomp %}

	

<h2>Notes</h2>
<p>The ONS statistics are produced using data from valid Energy Performance Certificates (EPCs) lodged up to March 2023. Their analysis includes the latest EPC lodgements for a 10 year period, from Q2 2013 to Q1 2023.</p>
<p>This data does not reflect all dwellings in England and Wales, because not every dwelling has an EPC (these are only required when a dwelling is constructed, sold or let). The ONS use a subset of available EPC lodgements, as they only keep records with plausible values on key energy efficiency variables, and those that been quality checked with Valuation Office Agency (VOA) Property Attributes data (property still active, property type match, age of property match).</p>
<p>There can be multiple EPC lodgements for the same dwelling, but they analyse the latest lodgement only so they do not double count dwellings.</p>
<p>The median energy efficiency scores and the percentage of properties by EPC band C and above are calculated based on the energy efficiency assessment as part of the EPC production. This means that the ONS statistics do not necessarily reflect energy efficiency improvements as the majority of alterations don’t require a new EPC to be generated.</p>
<p>For their statistics, the ONS break down houses (including bugalows and park homes) into Detached, Semi-Detached and Terraced property types. They group flats and maisonettes together as the final property type. Tenure is more likely to change over time in comparison to other housing variables. The tenure is that given at the time of the EPC assessment. It is less likely to have tenure data for newly-built dwellings have been constructed and do not yet have a tenure. </p>