---
title: Fuel poverty (England)
theme: energy
created: 2023-10-05T14:38
updated: 2023-10-05T14:38
description: |
  Fuel poverty in England is measured using the Low Income Low Energy Efficiency (LILEE) indicator.
keywords: [fuel,poverty,heat,home,prices]
config:
  ref:
    width: 600
    hexjson: hexjson.constituencies
    data: sources.energy.fuel-poverty-2021
    columns:
      - name: "filterLabel"
        template: "{{ n }} ({{ a }})"
    value: "Proportion of households fuel poor (%)"
    scale: "Viridis"
    min: 0
    max: 25
    matchKey: "Parliamentary Constituency Code"
    legend:
      position: top right
      items:
      - value: 25
        label: "25%+"
      - value: 20
        label: "20%"
      - value: 15
        label: "15%"
      - value: 10
        label: "10%"
      - value: 5
        label: "5%"
      - value: 0
        label: '0%'
    tools:
      filter:
        label: filterLabel
    tooltip: "<strong>{{ n }}</strong><br />Fuel poverty: <strong>{{ {{ _value }} | toFixed(1) | toLocaleString() }}%</strong>"
    attribution: |
      Data: <a href="https://www.gov.uk/government/collections/fuel-poverty-statistics">Fuel poverty statistics 2021</a> (Department for Energy Security and Net Zero and Department for Business, Energy & Industrial Strategy)
---

<div class="warning centred padded-bottom">This uses data for the old Parliamentary constituencies (pre July 2024).</div>

{% comp 'hexmap', {
	"config": config.ref,
	"download": {"text": "Fuel poverty by constituency", "type": "CSV"}
} %}{% endcomp %}

<h2>Notes</h2>

<p>Fuel poverty in England is measured using the Low Income Low Energy Efficiency (LILEE) indicator. Under this indicator, a household is considered to be fuel poor if:</p>
<ul>
	<li>they are living in a property with a fuel poverty energy efficiency rating of band D or below</li>
</ul>
<p>and</p>
<ul>
	<li>when they spend the required amount to heat their home, they are left with a residual income below the official poverty line</li>
</ul>
<p>There are 3 important elements in determining whether a household is fuel poor:</p>
<ul>
	<li>household income</li>
	<li>household energy requirements</li>
	<li>fuel prices</li>
</ul>
