---
title: Energy
theme: energy
description: |
  Presenting data by constituency for energy-related data.
---

<p>{{ description }}</p>

<ul>
{% for page in search.pages("theme=energy", "order title") %}
{% if page.data.title!=title and not page.data.draft %}
	<li><a href="{{ page.data.url }}">{{ page.data.title }}</a>{% if page.data.updated %} - last updated {{ page.data.updated  | date('do MMMM yyyy') }}{% endif %}</li>
{% endif %}
{% endfor %}
</ul>
