<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{# I use the metas key here so that this is consistent with social media sharing #}
	<title>{{ title }} | {% if theme and themes[theme]['title']!=title %}{{ themes[theme]['title'] }} | {% endif %}{{ metas.site }}</title>
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="icon" type="image/png" href="/assets/img/favicon.png" />
	{% if google %}<meta name="google-site-verification" content="SYEIrQD2TW3By8pVrrYwwLAqRgBTWEhSUyfxikR8FKM" />{% endif %}
</head>
<body class="b1-bg">

	<a class="skip-to-content-link button" href="#main">Skip to main content</a>

	{% include 'partials/header.njk' %}

	<div class="b6-bg" id="main">
		<div class="holder padded tallpadded">
		{{ content | safe }}
		</div>
	</div>

	{% for row in sources.co2.rows %}
		{% if url == row.Path %}<div class="b2-bg doublepadded centred" style="text-wrap: balance;"><div class="holder">This page generates around {{ row.CO2 | round(2) }}g of CO2 emissions per visit (last checked {{ row.Date | date('do MMMM yyyy')}})</div></div>{% endif %}
	{% endfor %}

	{% include 'partials/footer.njk' %}

</body>
</html>
