---
layout: template/base.njk
---

<h1>{% if theme %}<a href="/themes/{{ themes[theme]['url'] }}" class="{{ themes[theme]['class'] }} theme-icon">{{ themes[theme]['icon'] | safe }}</a>{% endif %}{{ title }}</h1>
{% if updated %}
<p class="updated">Updated: <time datetime="{{ updated }}">{{ updated | date('do MMMM yyyy') }}</time></p>
{% else %}
	{% if created %}
<p class="updated">Created: <time datetime="{{ created }}">{{ created | date('do MMMM yyyy') }}</time></p>
	{% endif %}
{% endif %}
{{ content | safe }}
