---
title: 2024 General Election Candidates
searchignore: true
updated: 2024-07-23T13:34
layout: template/embed-basic.njk
---

{{ comp.wrapper({
	"page": page,
	"component": comp.oi.map.hex_cartogram,
	"config": "ge_20240704_candidates"
}) }}