---
title: Themes
description: |
  Presenting data by constituency for a variety of themes.
---

<p>{{ description }}</p>

<ul class="grid-list">
{% for theme, data in themes %}
	{% if not themes[theme]['draft'] %}
	<li>{% if search.pages("theme="+theme+" !draft") | length > 1 %}<a href="{{ data['url'] }}" class="{{ data['class'] }}">{% else %}<div class="b5-bg">{% endif %}{{ data['icon'] | safe }}<h2>{{ data['title'] }}</h2><p>
	{{ data['description'] }}</p>{% if search.pages("theme="+theme+" !draft") | length > 1 %}</a>{% else %}</div>{% endif %}</li>
	{% endif %}
{% endfor %}
</ul>
