---
title: Nations and regions (UK)
theme: society
created: 2023-09-13T14:15
updated: 2023-09-13T14:15
description: |
  Showing constituencies by nation and region (UK).
---

{{ comp.wrapper({
	"page": page,
	"component": comp.oi.map.hex_cartogram,
	"config": "map_1"
}) }}


