---
title: Disability (England & Wales)
theme: health
description: |
  Disability as measured in the 2021 census at constituency-level (England & Wales).
config:
  ref:
    width: 600
    hexjson: hexjson.constituencies
    data: sources.health.disability
    columns:
      - name: "filterLabel"
        template: "{{ n }} ({{ a }})"
    value: "Con_pc"
    scale: "Viridis"
    min: 0
    max: 0.25
    matchKey: "ONSConstID"
    legend:
      position: top right
      items:
      - value: 0.25
        label: "25%+"
      - value: 0.20
        label: "20%"
      - value: 0.15
        label: "15%"
      - value: 0.10
        label: "10%"
      - value: 0.05
        label: "5%"
      - value: 0
        label: '0%'
    tools:
      filter:
        label: filterLabel
    tooltip: "Disability (2021 census)<br />{{ n }}: <strong>{{ {{ _value }} | multiply(100) | toFixed(1) | toLocaleString() }}%</strong>"
    attribution: |
      Data: <a href="https://commonslibrary.parliament.uk/constituency-data-self-reported-health-2021-census/">Self-reported health, 2021 census</a> (House of Commons Library)
---

{% comp 'hexmap', {
	"config": config.ref,
	"download": {"text": "Disability by constituency", "type": "CSV"}
} %}{% endcomp %}

<h2>Notes</h2>

<ul>
<li>The 2021 census in England and Wales was undertaken during the coronavirus pandemic, which may have influenced how people perceive their health status.</li>
</ul>
