---
title: GP online perscription services
theme: health
created: 2024-06-27T09:30
updated: 2024-06-27T09:30
description: |
  Percentage of patients enabled to order repeat prescriptions online. Percentage of Electronic prescription items of all items prescribed.
keywords: [health]
---

<section>
<h2>Patients enabled to order repeat prescriptions online{% comp 'anchor', { 'ref': 'online-repeat'} %}{% endcomp %}</h2>
<p>The percentage of patients registered at the practice who are able to use an online service for ordering repeat prescriptions, as recorded on the last day of the reporting period.</p>
{% comp 'wrapper', {
	"component": comp.oi.map.hex_cartogram,
	"config": {
		"width": 600,
		"hexjson": "hexjson.constituencies",
		"data": "sources.health.PHE-indicator-93941",
		"columns": [{
			"name": "filterLabel",
			"template": "{{ n }} ({{ a }})"
		}],
		"value": "Feb 2024",
		"scale": "Viridis",
		"min": 0,
		"max": 100,
		"matchKey": "Area Code",
		"legend": {
			"position": "top right",
			"items": [{
				"value": 100,
				"label": "100%"
			},{
				"value": 75,
				"label": "75%"
			},{
				"value": 50,
				"label": "50%"
			},{
				"value": 25,
				"label": "25%"
			},{
				"value": 0,
				"label": "0%"
			}]
		},
		"tools": {
			"filter": {
				"label": "filterLabel"
			},
			"slider": {
				"columns": ["Jan 2020" , "Feb 2020" , "Mar 2020" , "Apr 2020" , "May 2020" , "Jun 2020" , "Jul 2020" , "Aug 2020" , "Sep 2020" , "Oct 2020" , "Nov 2020" , "Dec 2020" , "Jan 2021" , "Feb 2021" , "Mar 2021" , "Apr 2021" , "May 2021" , "Jun 2021" , "Jul 2021" , "Aug 2021" , "Sep 2021" , "Oct 2021" , "Nov 2021" , "Dec 2021" , "Jan 2022" , "Feb 2022" , "Mar 2022" , "Apr 2022" , "May 2022" , "Jun 2022" , "Jul 2022" , "Aug 2022" , "Sep 2022" , "Oct 2022" , "Nov 2022" , "Dec 2022" , "Jan 2023" , "Feb 2023" , "Mar 2023" , "Apr 2023" , "May 2023" , "Jun 2023" , "Jul 2023" , "Aug 2023" , "Sep 2023" , "Oct 2023" , "Nov 2023" , "Dec 2023" , "Jan 2024" , "Feb 2024"],
				"width": "600px"
			}
		},
		"tooltip": "<strong>{{ n }}</strong><br />% patients enabled to order repeat prescriptions online: <strong>{{ {{ _value }} | toFixed(1) }}%</strong>",
		"attribution": "Data: <a href=\"https://fingertips.phe.org.uk/search/93941\">OHID Fingertips</a> / Visualisation: <a href=\"https://github.com/WolfieKnee\">David Wolfson</a>"
	}
} %}{% endcomp %}
</section>

<section>
<h2>Electronic prescription items{% comp 'anchor', { 'ref': 'electronic-prescriptions'} %}{% endcomp %}</h2>
<p>The percentage of prescription items issued by the practice through the electronic prescription service. The number of items refers to the number of times a product appears on a prescription form, not the quantity prescribed. Items that have been referred back, disallowed or not dispensed are excluded from all item counts.</p>
{% comp 'wrapper', {
	"component": comp.oi.map.hex_cartogram,
	"config": {
		"width": 600,
		"hexjson": "hexjson.constituencies",
		"data": "sources.health.PHE-indicator-93953",
		"columns": [{
			"name": "filterLabel",
			"template": "{{ n }} ({{ a }})"
		}],
		"value": "Jan 2024",
		"scale": "Viridis",
		"min": 0,
		"max": 100,
		"matchKey": "Area Code",
		"legend": {
			"position": "top right",
			"items": [{
				"value": 100,
				"label": "100%"
			},{
				"value": 75,
				"label": "75%"
			},{
				"value": 50,
				"label": "50%"
			},{
				"value": 25,
				"label": "25%"
			},{
				"value": 0,
				"label": "0%"
			}]
		},
		"tools": {
			"filter": {
				"label": "filterLabel"
			},
			"slider": {
				"columns": ["Jan 2023" , "Feb 2023" , "Mar 2023" , "Apr 2023" , "May 2023" , "Jun 2023" , "Jul 2023" , "Aug 2023" , "Sep 2023" , "Oct 2023" , "Nov 2023" , "Dec 2023" , "Jan 2024"],
				"width": "600px"
			}
		},
		"tooltip": "<strong>{{ n }}</strong><br />% Electronic prescription items of all items prescribed: <strong>{{ {{ _value }} | toFixed(1) }}%</strong>",
		"attribution": "Data: <a href=\"https://fingertips.phe.org.uk/search/93953\">OHID Fingertips</a> / Visualisation: <a href=\"https://github.com/WolfieKnee\">David Wolfson</a>"
	}
} %}{% endcomp %}
</section>