---
title: GP Appointment Booking
theme: health
created: 2024-06-21T08:47
updated: 2024-06-21T08:47
description: |
  Patients reporting a good experience of booking appointment. Patients able to book or cancel online. Percentage of DNA appointments.
keywords: [health]
---

<h2>Percentage reporting good overall experience of making an appointment</h2>
<p>The GP Patient Survey is an independent survey run by Ipsos on behalf of NHS England. The survey is sent out to over two million people across the UK. The results show how people feel about their GP practice.</p>
<p>People were asked: "Overall, how would you describe your experience of making an appointment?". The indicator value is the percentage of people who answered this question with "Very good" or "Fairly good" from all responses to this question.</p>

{% comp 'wrapper', {
	"component": comp.oi.map.hex_cartogram,
	"config": {
		"width": 600,
		"hexjson": "hexjson.constituencies",
		"data": "sources.health.PHE-indicator-349",
		"columns": [{
			"name": "filterLabel",
			"template": "{{ n }} ({{ a }})"
		}],
		"value": "2023",
		"scale": "Viridis",
		"min": 0,
		"max": 100,
		"matchKey": "Area Code",
		"legend": {
			"position": "top right",
			"items": [{
				"value": 100,
				"label": "100%"
			},{
				"value": 75,
				"label": "75%"
			},{
				"value": 50,
				"label": "50%"
			},{
				"value": 25,
				"label": "25%"
			},{
				"value": 0,
				"label": "0%"
			}]
		},
		"tools": {
			"filter": {
				"label": "filterLabel"
			},
			"slider": {
				"columns": ["2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022","2023"],
				"width": "600px"
			}
		},
		"tooltip": "<strong>{{ n }}</strong><br />% reporting good overallexperience <br />of making an appointment: <strong>{{ {{ _value }} | toFixed(1) }}%</strong>",
		"attribution": "Data: <a href=\"https://fingertips.phe.org.uk/search/349\">OHID Fingertips</a>. Visualisation <a href=\"https://github.com/WolfieKnee\">David Wolfson</a>."
	}
} %}{% endcomp %}

<h2>Percentage of patients enabled to book and cancel appointments online</h2>
<p>The percentage of patients registered at the practice who are able to use an online service for booking and/or cancelling appointments, as recorded on the last day of the reporting period.</p>
{% comp 'wrapper', {
	"component": comp.oi.map.hex_cartogram,
	"config": {
		"width": 600,
		"hexjson": "hexjson.constituencies",
		"data": "sources.health.PHE-indicator-93940",
		"columns": [{
			"name": "filterLabel",
			"template": "{{ n }} ({{ a }})"
		}],
		"value": "Feb 2024",
		"scale": "Viridis",
		"min": 0,
		"max": 100,
		"matchKey": "Area Code",
		"legend": {
			"position": "top right",
			"items": [{
				"value": 100,
				"label": "100%"
			},{
				"value": 75,
				"label": "75%"
			},{
				"value": 50,
				"label": "50%"
			},{
				"value": 25,
				"label": "25%"
			},{
				"value": 0,
				"label": "0%"
			}]
		},
		"tools": {
			"filter": {
				"label": "filterLabel"
			},
			"slider": {
				"columns": ["Jan 2020" , "Feb 2020" , "Mar 2020" , "Apr 2020" , "May 2020" , "Jun 2020" , "Jul 2020" , "Aug 2020" , "Sep 2020" , "Oct 2020" , "Nov 2020" , "Dec 2020" , "Jan 2021" , "Feb 2021" , "Mar 2021" , "Apr 2021" , "May 2021" , "Jun 2021" , "Jul 2021" , "Aug 2021" , "Sep 2021" , "Oct 2021" , "Nov 2021" , "Dec 2021" , "Jan 2022" , "Feb 2022" , "Mar 2022" , "Apr 2022" , "May 2022" , "Jun 2022" , "Jul 2022" , "Aug 2022" , "Sep 2022" , "Oct 2022" , "Nov 2022" , "Dec 2022" , "Jan 2023" , "Feb 2023" , "Mar 2023" , "Apr 2023" , "May 2023" , "Jun 2023" , "Jul 2023" , "Aug 2023" , "Sep 2023" , "Oct 2023" , "Nov 2023" , "Dec 2023" , "Jan 2024" , "Feb 2024"],
				"width": "600px"
			}
		},
		"tooltip": "<strong>{{ n }}</strong><br />Percentage of patients enabled to book and cancel appointments online: <strong>{{ {{ _value }} | toFixed(1) }}%</strong>",
		"attribution": "Data:<a href=\"https://fingertips.phe.org.uk/search/93940\">OHID Fingertips</a>. Visualisation <a href=\"https://github.com/WolfieKnee\">David Wolfson</a>."
	}
} %}{% endcomp %}


<h2>Percentage of not attended appointments (DNA)</h2>
<p>Percentage of appointments which were booked but not attended by the patient.</p>
{% comp 'wrapper', {
	"component": comp.oi.map.hex_cartogram,
	"config": {
		"width": 600,
		"hexjson": "hexjson.constituencies",
		"data": "sources.health.PHE-indicator-93940",
		"columns": [{
			"name": "filterLabel",
			"template": "{{ n }} ({{ a }})"
		}],
		"value": "Feb 2024",
		"scale": "Viridis",
		"min": 0,
		"max": 100,
		"matchKey": "Area Code",
		"legend": {
			"position": "top right",
			"items": [{
				"value": 100,
				"label": "100%"
			},{
				"value": 75,
				"label": "75%"
			},{
				"value": 50,
				"label": "50%"
			},{
				"value": 25,
				"label": "25%"
			},{
				"value": 0,
				"label": "0%"
			}]
		},
		"tools": {
			"filter": {
				"label": "filterLabel"
			},
			"slider": {
				"columns": ["Feb 2023" , "Mar 2023" , "Apr 2023" , "May 2023" , "Jun 2023" , "Jul 2023" , "Aug 2023" , "Sep 2023" , "Oct 2023" , "Nov 2023" , "Dec 2023" , "Jan 2024" , "Feb 2024"],
				"width": "600px"
			}
		},
		"tooltip": "<strong>{{ n }}</strong><br />Percentage of not attended appointments (DNA): <strong>{{ {{ _value }} | toFixed(1) }}%</strong>",
		"attribution": "Data:<a href=\"https://fingertips.phe.org.uk/search/93952\">OHID Fingertips</a>. Visualisation <a href=\"https://github.com/WolfieKnee\">David Wolfson</a>."
	}
} %}{% endcomp %}