---
title: Welcome
description: Mapping data for UK Westminster Constituencies on hex maps (cartograms)
google: true
keywords: [open, data, hex, map, hexmap, constituencies]
---

<p>This site maps data about UK constituencies on hex maps (cartograms). We have created several <a href="themes/">themes</a> (<a href="themes/economy/">economy</a>, <a href="themes/energy/">energy</a>, <a href="themes/environment/">environment</a>, <a href="themes/health/">health</a>, <a href="themes/society/">society</a>, and <a href="themes/transport/">transport</a>) and have filled those with separate pages for each data aspect. That makes it possible to link to individual maps and make sharing easier. If you know of an existing open dataset (provided by constituency) that you think we should include, please <a href="mailto:hello@open-innovations.org?subject=Constituency%20dataset&body=URL:%20%0ATitle:%20%0ADescription:">get in touch</a> or <a href="about">find out more</a>...</p>

{% set data = search.data("themes/") %}

{#
<h2>Recently added visualisations...</h2>
<ul class="grid-list">
{% for page in search.pages("theme_page theme!=undefined !draft created!=undefined", "order created=desc", 3) %}
	<li><a href="{{ page.data.url }}" class="{{ data.themes[page.data.theme].class | safe }}">
	{{ data.themes[page.data.theme].icon | safe }}
	<h3>{{ page.data.title }}</h3>
	<p>Added: {{ page.data.created | date('do MMMM yyyy') }}</p>
	</a></li>
{% endfor %}
</ul>
#}

<h2>Recently updated visualisations...</h2>
<ul class="grid-list">
{% for page in search.pages("theme_page theme!=undefined !draft updated!=undefined", "order updated=desc", 9) %}
	<li><a href="{{ page.url }}" class="{{ data.themes[page.theme].class | safe }}">
	{{ data.themes[page.theme].icon | safe }}
	<h3>{{ page.title }}</h3>
	<p>Updated: {{ page.updated | date('do MMMM yyyy') }}</p>
	</a></li>
{% endfor %}
</ul>

<h2>Hex maps</h2>
<p>At Open Innovations we have a bit of a reputation for hex maps (technically, cartograms). When it comes to showing data about constituencies - where every constituency should have an equal visual weight in a visualisation - <a href="https://open-innovations.org/blog/2017-05-08-mapping-election-with-hexes">we think hex maps do a better job</a> than geographic maps. Particularly, geographic representations of constituencies biases the overall impression in favour of the much larger, rural constituencies and effectively hides geographically small inner city constituencies. Obviously there are trade-offs when you abstract the geography - individual constituencies can't necessarily preserve their real-life neighbours and so relative positions do get distorted - but we feel that getting the correct overall impression from a visualisation matters more.</p>
<p>Given the 2023 boundary reviews, this site makes use of two different maps depending on the data source. Where data is produced for the current (as of 2024) constituencies, we shall use our <a href="https://open-innovations.org/projects/hexmaps/builder.html?https://raw.githubusercontent.com/odileeds/hexmaps/gh-pages/maps/uk-constituencies-2024.hexjson">2023 constituency hex layout</a>. Otherwise we shall still be using our <a href="https://open-innovations.org/projects/hexmaps/builder.html?https://raw.githubusercontent.com/odileeds/hexmaps/gh-pages/maps/constituencies.hexjson">old constituency layout</a>.</p>
<p>Hopefully this site provides useful for the 2024 General Election and beyond.
<p>You can download the layouts as <a href="https://open-innovations.org/projects/hexmaps/hexjson">HexJSON</a> or in other formats:</p>
<ul>
	<li><a href="/assets/hexjson/constituencies.hexjson">UK constituency layout 2010 (HexJSON)</a></li>
	<li><a href="/assets/svg/uk-constituencies-2010.svg">UK constituency layout 2010 (SVG)</a></li>
	<li><a href="/assets/hexjson/uk-constituencies-2024.hexjson">UK constituency layout 2023 (HexJSON)</a> - there are currently no GSS IDs for Scotland or Northern Ireland</li>
	<li><a href="/assets/svg/uk-constituencies-2024.svg">UK constituency layout 2023 (SVG)</a> - there are currently no GSS IDs for Scotland or Northern Ireland</li>
	<li><a href="https://open-innovations.org/projects/hexmaps/colour-your-own-uk-general-election-2024.pdf">Colour-your-own</a> UK General Election 2024 (PDF)</li>
</ul>