---
title: Welcome
---

<p>In the lead up to the next General Election, this site aims to map data about UK constituencies on hex cartograms. We shall be creating themes and populating them with separate pages for each data aspect. That way it will be possible to link to individual maps and make sharing them easier. If you know of an existing open dataset (provided by constituency) that you think we should include, please <a href="mailto:hello@open-innovations.org?subject=Constituency%20dataset&body=URL:%20%0ATitle:%20%0ADescription:">get in touch</a> or <a href="about">find out more</a>...</p>

