---
title: Electorate (UK)
theme: society
description: |
  Electorate by constituency (UK).
config:
  ref:
    width: 600
    hexjson: hexjson.uk-constituencies-2023
    data: sources.society.2023-constituency-electorate
    columns:
      - name: "filterLabel"
        template: "{{ n }} ({{ a }})"
    value: "Electorate"
    scale: "Viridis"
    min: 50000
    max: 80000
    matchKey: "PCON25CD"
    legend:
      position: top right
      items:
      - value: 80000
        label: ">80,000"
      - value: 70000
        label: "70000"
      - value: 60000
        label: "60000"
      - value: 50000
        label: "<50000"
    tools:
      filter:
        label: filterLabel
    tooltip: "Electorate<br />{{ n }}: <strong>{{ {{ _value }} | toLocaleString() }}</strong>"
    attribution: |
      Data: <a href="https://boundarycommissionforengland.independent.gov.uk/2023-review/the-2023-review-of-parliamentary-constituency-boundaries-in-england-volume-two-constituency-names-designations-and-composition/">Boundary Commission for England</a> / <a href="https://www.bcomm-scotland.independent.gov.uk/sites/default/files/2023_review_final/bcs_2023_final_recs_electorate_ward_area_desig.pdf">Boundary Commission for Scotland</a> / <a href="https://bcomm-wales.gov.uk/sites/bcomm/files/review/2023%20Final%20Recs_Electdatabyconsts_E%20-%20Done.xls">Boundary Commission for Wales</a> / <a href="https://www.boundarycommission.org.uk/files/boundarycommission/2023-07/Final%20Recommendations%20Report%20of%20the%202023%20Review%20of%20Parliamentary%20Constituencies.PDF">Boundary Commission for Northern Ireland</a><br />Hex layout: <a href="https://github.com/odileeds/hexmaps/blob/gh-pages/maps/uk-constituencies-2023.hexjson">2023 constituencies</a> (Open Innovations and contributors)
---

<p>Initial electorate values from the 2023 boundary reviews.</p>
{% comp 'oi.map.hex_cartogram', { "config": config.ref } %}{% endcomp %}


