---
title: General Elections (UK)
theme: society
created: 2023-08-24T15:05
description: |
  General Election results by constituency (UK).
---

<p>The party-political make up of the UK Parliament at various points from 2010 until 2023.</p>
{% comp 'wrapper', {
	"component": comp.oi.map.hex_cartogram,
	"config": {
		"colours": {
			"Con":'#0485A8',
			"Lab":'#DC4343',
			'LD':'#EAA544',
			'Green':'#5EBD4C',
			'Brexit':'#0FA697',
			'SNP':'#EBDB1C',
			'UKIP':'#73537A',
			'PC':'#4FBA7C',
			'Ind':'#CCA7C6',
			'DUP':'#BF3759',
			'UUP':'#3b75a8',
			'SF':'#2C604D',
			'SDLP':'#53BC5B',
			'Alliance':'#EAA544',
			'Spk':'#909090',
			'XSpk':'#909090',
			'Monster':'#cccccc',
			'none':'#dfdfdf'
		},
		width: 600,
		hexjson: "hexjson.constituencies",
		data: "sources.society.general-elections",
		columns: [{
			name: "filterLabel",
			template: "{{ n }} ({{ a }})"
		}],
		value: "GE 2019",
		matchKey: "const_id",
		legend: {
			position: "top right",
			items: [{
				colour: "Con",
				label: "Con"
			},{
				colour: "Lab",
				label: "Lab"
			},{
				colour: "LD",
				label: "LDem"
			},{
				colour: "SNP",
				label: "SNP"
			},{
				colour: "PC",
				label: "PC"
			},{
				colour: "Green",
				label: "Grn"
			},{
				colour: "UKIP",
				label: "UKIP"
			},{
				colour: "Ind",
				label: "Ind"
			},{
				colour: "DUP",
				label: "DUP"
			},{
				colour: "UUP",
				label: "UUP"
			},{
				colour: "SF",
				label: "SF"
			},{
				colour: "SDLP",
				label: "SDLP"
			},{
				colour: "Alliance",
				label: "Alln"
			},{
				colour: "Spk",
				label: "Spk"
			}]
		},
		tools: {
			filter: {
				label: "filterLabel"
			},
			slider: {
				columns: ['GE 2010','GE 2015','GE 2017','Pre GE 2019','GE 2019','2023'],
				width: "500px"
			}
		},
		tooltip: "<strong>{{ n }}</strong><br />{{ _value }}: <strong>{{ {{ _value }} }}</strong>",
		attribution: 'Data: General Election results <a href="https://ge2019.odileeds.org/">2019</a> (Britain Elects, New Statesman, ODI Leeds; <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a>), <a href="https://researchbriefings.parliament.uk/ResearchBriefing/Summary/CBP-7979" target="_parent">2017</a> (Parliament), <a href="http://www.data.parliament.uk/dataset/general-election-2015" target="_parent">2015</a> (Parliament) & <a href="https://en.wikipedia.org/wiki/Results_of_the_2010_United_Kingdom_general_election">2010</a> (Wikipedia).'
	},
	"download": {"text": "General Election results by constituency", "type": "CSV"}
} %}{% endcomp %}

<h2>Notes</h2>
<p>For the 2023 position on the slider, we have applied <a href="https://www.parliament.uk/about/how/elections-and-voting/by-elections/by-elections-2019/">the results of by-elections since 2019</a> up to August 2023.</p>

