---
title: Society
theme: society
description: |
  Presenting data by constituency for society-related data.
---

<p>{{ description }}</p>

<ul>
{{ for page of search.pages("theme=society", "order title") }}
{{ if page.title!=title && !page.draft }}
	<li><a href="{{ page.url }}">{{ page.title }}</a>{{ if page.updated }} - last updated {{ page.updated |> date('do MMMM yyyy') }}{{ /if }}</li>
{{ /if }}
{{ /for }}
</ul>
