---
title: Nations and regions (UK)
theme: society
created: 2023-09-13T14:15
updated: 2023-09-13T14:15
description: |
  Showing constituencies by nation and region (UK).
---

{% comp 'wrapper', {
	"component": comp.oi.map.hex_cartogram,
	"config": {
		"colours": {
			"E12000001": "#d60303",
			"E12000002": "#1dd3a7",
			"E12000003": "#f9bc26",
			"E12000004": "#00b6ff",
			"E12000005": "#e6007c",
			"E12000006": "#ff6700",
			"E12000007": "#d73058",
			"E12000008": "#67e767",
			"E12000009": "#178cff",
			"W92000004": "#0dbc37",
			"S92000003": "#2254f4",
			"N92000002": "#722ea5"
		},
		"width": 600,
		"hexjson": "hexjson.uk-constituencies-2023",
		"data": "sources.society.population-2020",
		"columns": [{
			"name": "filterLabel",
			"template": "{{ n }} ({{ a }})"
		}],
		"value": "region",
		"matchKey": "PCON11CD",
		"legend": {
			"position": "top right",
			"items": [{
				"colour": "E12000001",
				"label": "North East"
			},{
				"colour": "E12000002",
				"label": "North West"
			},{
				"colour": "E12000003",
				"label": "Yorkshire and the Humber"
			},{
				"colour": "E12000004",
				"label": "East Midlands"
			},{
				"colour": "E12000005",
				"label": "West Midlands"
			},{
				"colour": "E12000006",
				"label": "East of England"
			},{
				"colour": "E12000007",
				"label": "London"
			},{
				"colour": "E12000008",
				"label": "South East"
			},{
				"colour": "E12000009",
				"label": "South West"
			},{
				"colour": "W92000004",
				"label": "Wales"
			},{
				"colour": "S92000003",
				"label": "Scotland"
			},{
				"colour": "N92000002",
				"label": "Northern Ireland"
			}]
		},
		"tools": {
			"filter": {
				"label": "filterLabel"
			}
		},
		"tooltip": "<strong>{{ n }}</strong><br />PCON24CD: <strong>{{ _id }}</strong><br />Region: <strong>{{ region }}</strong>",
		"attribution": ""
	}
} %}{% endcomp %}


