---
title: Sexuality (England and Wales)
theme: society
created: 2023-10-10T21:00
updated: 2023-10-10T21:00
description: |
  This dataset provides Census 2021 estimates that classify usual residents aged 16 years and over in England and Wales by sexual orientation. The estimates are as at Census Day, 21 March 2021.
keywords: [straight,heterosexual,gay,lesbian,bisexual,sexual,orientations]
---

<div class="warning centred padded-bottom">This uses data for the old Parliamentary constituencies (pre July 2024).</div>

<p>This dataset provides Census 2021 estimates that classify usual residents aged 16 years and over in England and Wales by sexual orientation. The estimates are as at Census Day, 21 March 2021.</p>
{% comp 'wrapper', {
	"component": comp.oi.map.hex_cartogram,
	"config": {
		"width": 600,
		"hexjson": "hexjson.constituencies",
		"data": "sources.society.sexuality",
		"columns": [{
			"name": "filterLabel",
			"template": "{{ n }} ({{ a }})"
		}],
		"min": 0,
		"value": "Straight or Heterosexual %",
		"scale": "Viridis",
		"matchKey": "Westminster Parliamentary constituencies Code",
		"legend": {
			"position": "top right",
			"items": [{
				"value": "100%",
				"label": "Maximum"
			},{
				"value": "75%"
			},{
				"value": "50%"
			},{
				"value": "25%"
			},{
				"value": 0,
				"label": "0"
			}]
		},
		"tools": {
			"filter": {
				"label": "filterLabel"
			},
			"slider": {
				"columns": ["Straight or Heterosexual %","Gay or Lesbian %","Bisexual %","All other sexual orientations %","Not answered %"],
				"width": "600px"
			}
		},
		"tooltip": "<strong>{{ n }}</strong><br />Straight or Heterosexual: <strong>{{ Straight or Heterosexual % | toLocaleString() }}%</strong><br />Gay or Lesbian: <strong>{{ Gay or Lesbian % | toLocaleString() }}%</strong><br />Bisexual: <strong>{{ Bisexual % | toLocaleString() }}%</strong><br />All other sexual orientations: <strong>{{ All other sexual orientations % | toLocaleString() }}%</strong><br />Not answered: <strong>{{ Not answered % | toLocaleString() }}%</strong>",
		"attribution": "Data: <a href=\"https://www.ons.gov.uk/datasets/TS077/editions/2021/versions/2\">Census 2021: Sexual orientation</a> (ONS"
	},
	"download": {"text": "Sexual orientation by constituency (2021)", "type": "CSV"}
} %}{% endcomp %}


