{% comp "wrapper", {
	"component": comp.oi.map.hex_cartogram,
	"config": {
		"width": 600,
		"hexjson": "hexjson.constituencies",
		"data": "sources.society.heritage-at-risk",
		"columns":[{
			"name": "filterLabel",
			"template": "{{ n }} ({{ a }})"
		},{
			"name": "Building or structure",
			"template": "{{ Type→Building or structure }}"
		}],
		"value": "Building or structure",
		"scale": "#cccccc 0%, #b62126 100%",
		"min": 0,
		"max": 20,
		"matchKey": "PCON10CD",
		"legend":{
			"position": "top right",
			"items": [{
				"value": 20,
				"label": "20+"
			},{
				"value": 15,
				"label": "15"
			},{
				"value": 10,
				"label": "10"
			},{
				"value": 5,
				"label": "5"
			},{
				"value": 0,
				"label": "0"
			}]
		},
		"tools":{
			"filter":{
				"label": "filterLabel"
			}
		},
		"tooltip": "<strong>{{ n }}</strong><br />Building or structure: <strong>{{ Building or structure | toLocaleString() }}</strong>",
		"attribution": "Data: <a href=\"https://historicengland.org.uk/images-books/publications/har-2023-registers/\">Heritage at Risk 2023 Register</a> (Historic England)"
	},
	"download": {"text": "Heritage at risk by constituency", "type": "CSV"}
} %}{% endcomp %}