{% if themes[theme]['title']!=title %}
<div class="b6-bg breadcrumb">
	<div class="holder padded">
		<a href="/themes/{{ themes[theme]['url'] }}" class="{{ themes[theme]['class'] }} strip">{{ themes[theme]['title'] }}</a>
		&gt; {{ title }}
	</div>
</div>
{% endif %}