---
title: Broadband (UK)
theme: economy
created: 2023-09-07T16:39
updated: 2024-01-23T19:04
description: |
  Constituency-level data on broadband.
---

<p>See how broadband connectivity and speeds vary in different parts of the UK, based on Ofcom data and <a href="https://commonslibrary.parliament.uk/constituency-data-broadband-coverage-and-speeds/">compiled by the House of Commons Library</a>. Below are views of <a href="#average">average download speeds</a>, the percentage <a href="#below-universal-service-obligation">below universal service obligation</a>, those <a href="#under-10Mbps">receiving under 10 Mbps</a>, those <a href="#over-30Mbps">receiving over 30 Mbps</a>, <a href="#superfast">superfast availability</a> and <a href="#gigabit">gigabit availability</a>.</p>

{% include "./embeds/average-download-speeds.njk" %}
<div class="embed"><a href="{{ url + "embeds/average-download-speeds" }}">Standalone version of average download speeds</a></div>


{% include "./embeds/below-universal-service-obligation.njk" %}
<div class="embed"><a href="{{ url + "embeds/below-universal-service-obligation" }}">Standalone version of universal service obligation</a></div>


{% include "./embeds/receiving-under-10mbps.njk" %}
<div class="embed"><a href="{{ url + "embeds/receiving-under-10mbps" }}">Standalone version of under 10 Mbps</a></div>


{% include "./embeds/receiving-under-30mbps.njk" %}
<div class="embed"><a href="{{ url + "embeds/receiving-under-30mbps" }}">Standalone version of under 30 Mbps</a></div>


{% include "./embeds/superfast.njk" %}
<div class="embed"><a href="{{ url + "embeds/superfast" }}">Standalone version of superfast availability</a></div>


{% include "./embeds/gigabit.njk" %}
<div class="embed"><a href="{{ url + "embeds/gigabit" }}">Standalone version of gigabit availability</a></div>


