---
title: Broadband (UK)
theme: economy
created: 2023-09-07T16:39
updated: 2024-07-16T19:10
description: |
  Constituency-level data on broadband.
---

<p>See how broadband connectivity and speeds vary in different parts of the UK, based on Ofcom data and <a href="https://commonslibrary.parliament.uk/constituency-data-broadband-coverage-and-speeds/">compiled by the House of Commons Library</a>. Below are views of <a href="#average">average download speeds</a>, the percentage <a href="#below-universal-service-obligation">below universal service obligation</a>, those <a href="#under-10Mbps">receiving under 10 Mbps</a>, those <a href="#over-30Mbps">receiving over 30 Mbps</a>, <a href="#superfast">superfast availability</a> and <a href="#gigabit">gigabit availability</a>.</p>

{% include "./embeds/average-download-speeds.njk" %}

{% include "./embeds/below-universal-service-obligation.njk" %}

{% include "./embeds/receiving-under-10mbps.njk" %}

{% include "./embeds/receiving-over-30mbps.njk" %}

{% include "./embeds/superfast.njk" %}

{% include "./embeds/gigabit.njk" %}
